.intro-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.intro-image-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.intro-gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-slide {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.gallery-slide.active {
  display: block;
  position: relative;
  opacity: 1;
}
