.intro-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.intro-image-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
