.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      position: relative;
      list-style: none;
      font-size: 1.3rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
          background-color: lighten($primary, 50%);
        }
      }

      // Submenu styles
      > ul.submenu {
        display: none;
        position: absolute;
        background-color: $white;
        border-radius: 4px;
        top: 100%;
        margin-top: 0;
        padding: 0;
        list-style: none;
        min-width: 180px;
        z-index: 1000;

        > li {
          font-size: 1.2rem;
          > a {
            display: block;
            padding: 8px 12px;
            color: $primary;
            text-decoration: none;
            &:hover {
              background-color: lighten($primary, 45%);
              text-decoration: underline;
            }
          }
          &.active > a {
            background-color: $primary;
            color: $white;
            border-radius: 0;
          }
        }
      }
      // Show submenu on hover
      &:hover > ul.submenu {
        display: block;
      }
      &.active {
        > a {
          font-weight: normal;
          text-decoration: none;
          color: $white;
          background-color: $primary;
          border-radius: 4px;
        }
      }
    }
  }
}
