---
layout: default
bodyClass: "page-basic"
---

{% comment %}
  Convert team member's name into a slug to match keys in _data/social_links_faculty.yml
{% endcomment %}
{% assign url_name = page.team-member-name | slugify %}
{% assign socials = site.data.social_links_faculty[url_name] %}
{% comment %}
      Construct the image path using the slug
      e.g., /images/faculty/forename-surname.jpg
{% endcomment %}
{% assign image_path = "/images/faculty/" | append: url_name | append: ".jpg" %}

<div class="container" id="pagecontainer">
  <div class="row">
    <div class="col-12 col-lg-4 text-center">
      <div style="position: relative; display: inline-block;">
        <img class="mx-auto p-1" style="width: 250px; border-radius: 40px;" src={{ image_path }} alt="">
        {% if socials %}
        <div class="social-button-cluster">
          {% for network in socials %}
          <a href="{{ network.url }}">
            <i class="{{ network.icon }}"></i>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <h4 class="pt-2 text-center">{{ page.team-member-name }}</h4>
      <p class="text-center text-muted">{{ page.job-role }}</p>
    </div>

    <div class="col-12 col-lg-8">
      {{ content }}
    </div>
  </div>
</div>