---
layout: default
bodyClass: "page-basic"
---

{% comment %}
  Convert team member's name into a slug to match keys in _data/social_links_fellows.yml
{% endcomment %}
{% assign url_name = page.team-member-name | slugify %}
{% assign socials = site.data.social_links_fellows[url_name] %}
{% comment %}
      Construct the image path using the slug
      e.g., /images/fellow/forename-surname.jpg
{% endcomment %}
{% assign image_path = "/images/fellow/" | append: url_name | append: ".jpg" %}


<div class="container" id="pagecontainer">
  <div class="row">
    <div class="col-12 col-lg-4 text-center">
      <div style="position: relative; display: inline-block;">
        <img class="mx-auto p-1" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover;" src="{{ image_path }}" alt="">
        {% if socials %}
        <div class="social-button-cluster">
          {% for network in socials %}
          <a href="{{ network.url }}">
            <i class="{{ network.icon }}"></i>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <h4 class="pt-2 text-center">{{ page.team-member-name }}</h4>
      <p class="text-center text-muted">{{ page.job-role }}</p>
    </div>

    <div class="col-12 col-lg-8">
      {{ content }}

      {% comment %}
        Fellowship Publications: show any publications where the `fellow` field contains this fellow's name.
      {% endcomment %}
      {% assign fellow_publications = site.data.fellowship_publications | where_exp: "item", "item.fellow contains page.team-member-name" %}

      {% if fellow_publications and fellow_publications.size > 0 %}
      <hr>
      <h3>Fellowship Publications</h3>
      <ul>
        {% for item in fellow_publications %}
          <li><a href="{{ item.link }}">{{ item.title | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% comment %}
        Fellowship Media: show any media where the `fellow` field contains this fellow's name.
      {% endcomment %}
      {% assign fellow_media = site.data.media | where_exp: "item", "item.fellow contains page.team-member-name" %}

      {% if fellow_media and fellow_media.size > 0 %}
      <hr>
      <h3>Fellowship Media</h3>
      <ul>
        {% for item in fellow_media %}
          <li><a href="{{ item.link }}">{{ item.title | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>