---
layout: default
bodyClass: "page-home"
---
{%- comment -%}
  The home page arrangement: a blue banner with the heading, the button and the
  photographs, then a grey strip with the introduction and the cards.

  None of the words are here. The heading, tagline, button, photographs and
  cards all come from the front matter of index.md, and the introduction under
  the banner is that file's body text - so editing the home page means editing
  index.md and nothing else. Change this file only to move things around.
{%- endcomment -%}

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6">
        <h1>{{ page.title }}</h1>
        {%- if page.tagline %}
        <p>{{ page.tagline }}</p>
        {%- endif %}

        {%- if page.cta %}
        <a class="hero-cta" href="{{ page.cta.url }}">
          {{ page.cta.text }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false">
            <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
          </svg>
        </a>
        {%- endif %}
      </div>

      {%- if page.gallery %}
      <div class="col-12 col-md-5 col-lg-6 position-relative">
        {% include hero-gallery.html slides=page.gallery %}
      </div>
      {%- endif %}
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-3 pb-6 pt-md-4 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="home-intro mb-4">
          {{ content }}
        </div>
      </div>

      {%- for feature in page.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        {% include feature-card.html feature=feature %}
      </div>
      {%- endfor %}
    </div>
  </div>
</div>
