---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-3 pb-6 pt-md-4 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <p class="home-subtext h5 mb-4">
          The <i>NHS Fellowship in Clinical AI</i> is a 12-month programme integrated part-time alongside clinical work. Fellows are recruited competitively from a diverse clinical workforce across the NHS, and internationally.
          <br><br>
          Our fellows are smart and energetic healthcare leaders who gain experience deploying and evaluating AI in clinical workflows under expert supervision in multidisciplinary NHS teams.
        </p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Real-World AI Projects logo" src="/images/features/noun-hand-7896364.svg" width="100" height="100" /></div>
          <h2 class="feature-title">Real-World AI Projects</h2>
          <div class="feature-content">Hands-on experience on NHS clinical AI projects under expert supervision</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Cutting-Edge Curriculum logo" src="/images/features/noun-book-and-lightbulb-7963226.svg" width="100" height="100" /></div>
          <h2 class="feature-title"><a href="/assets/docs/FCAI_Curriculum_v3.2.pdf" target="_blank" rel="noopener">Cutting-Edge Curriculum</a></h2>
          <div class="feature-content">Bespoke workshops from UK and international experts in clinical AI</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Network of Expertise logo" src="/images/features/noun-networking-7857539.svg" width="100" height="100" /></div>
          <h2 class="feature-title"><a href="/fellows" target="_blank" rel="noopener">Network of Expertise</a></h2>
          <div class="feature-content">An active and enduring community of clinical AI leaders</div>
        </div>
      </div>
    </div>
  </div>
</div>
