---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}

      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <div class="intro-gallery">
          <img src="images/homepage_gallery/homepage_image_cohort1.jpg" alt="Slide 1 16:9 ratio" class="gallery-slide active" />
          <img src="images/homepage_gallery/homepage_image_cohort2.jpg" alt="Slide 2 16:9 ratio" class="gallery-slide" />
          <img src="images/homepage_gallery/homepage_image_cohort3.jpg" alt="Slide 3 16:9 ratio" class="gallery-slide" />
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const slides = document.querySelectorAll('.gallery-slide');
      let currentIndex = 0;

      function showNextSlide() {
        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % slides.length;
        slides[currentIndex].classList.add('active');
      }

      setInterval(showNextSlide, 10000); // Change every 10 seconds
    });
  </script>
</div>

<div class="strip strip-grey">
  <div class="container pt-3 pb-6 pt-md-4 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <p class="home-subtext h5 mb-4">
          The <i>NHS Fellowship in Clinical AI</i> is a 12-month programme integrated part-time alongside clinical work.
          Fellows are recruited from a diverse clinical workforce, and gain experience deploying and evaluating AI in clinical workflows under expert supervision in multidisciplinary NHS teams.
          <br><br> Our fellows are smart and energetic healthcare leaders who are helping to make
          <a href="https://assets.publishing.service.gov.uk/media/6888a0b1a11f859994409147/fit-for-the-future-10-year-health-plan-for-england.pdf#page=100" target="_blank" rel="noopener noreferrer">
    the NHS the most AI-enabled workforce in the world by 2035.
  </a>
        </p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Real-World AI Projects logo" src="/images/features/noun-hand-7896364.svg" width="100" height="100" /></div>
          <h2 class="feature-title">Real-World AI Projects</h2>
          <div class="feature-content">Hands-on experience on NHS clinical AI projects under expert supervision</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Cutting-Edge Curriculum logo" src="/images/features/noun-book-and-lightbulb-7963226.svg" width="100" height="100" /></div>
          <h2 class="feature-title"><a href="/assets/docs/FCAI_Curriculum_v3.2.pdf" target="_blank" rel="noopener">Cutting-Edge Curriculum</a></h2>
          <div class="feature-content">Bespoke workshops from UK and international experts in clinical AI</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          <div class="feature-image"><img alt="Network of Expertise logo" src="/images/features/noun-networking-7857539.svg" width="100" height="100" /></div>
          <h2 class="feature-title"><a href="/fellows" target="_blank" rel="noopener">Network of Expertise</a></h2>
          <div class="feature-content">An active and enduring community of clinical AI leaders</div>
        </div>
      </div>
    </div>
  </div>
</div>
